body {
    background-color: lightpink;
    height: 95vh;
    border: white 3px solid;
    box-sizing: border-box;
    font-family: "Lobster", cursive;
}
.wrap{
    background-color: lightgrey;
    height: 100%;
    width: 65%;
    margin: 0 auto;
}
.title {
    background-color: lightgreen;
    height: 25%;
}
.board {
    background-color: lightblue;
    height: 75%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.square {
    box-sizing: border-box;
    border: 1px black solid;
    width: 33.333333%;
    height: 33.33333%;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: .7s;
}
.square:hover {
    cursor: pointer;
    background-color: magenta;
}
p {
    margin: 0;
    font-size: 5em;
    padding-top: 14%;
}
